* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
  background-image: url("../images/concrete.png");
}

h1 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 35px;
  font-weight: bold;  
  color: #4aaaa5;
  margin: 0px;
}

h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 23px;
  font-weight: bold;
  color: #4aaaa5;
  margin: 0px;
}

.container {
  width: 90%;
  max-width: 960px;
  padding: 0;
}

.navbar>.container {
  display: flex;
  flex-direction: row;
  align-items: center;
} 

.navbar {
  height: 100px;
  padding: 0;
  border-bottom: solid #cccccc 2px;
  background: white;
}

.navbar-brand {
  height: 98px;
  padding: 0px 30px 0px 30px;
  margin: 0;
  background-color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 30px;
  font-weight: bold;  
  line-height: 98px;
  color: #ffffff;
}

.nav-link-box {
  flex: 1;
  background-color: white;
}

.nav li a {
  font-size: 16px;
  padding: 0px;
  text-align: center;
  color: #777777;
}

.nav>li{
  border-right: 1px solid #cccccc;
  padding-left: 20px;
  padding-right: 20px;
}

.nav>li:last-child{
  border: none;
  padding-right: 0px;
}

body>.container {
  padding-top: 30px;
}

.content-container {
  background-color: #ffffff;
  padding: 30px 40px 30px 40px;
  border: solid #cccccc 1px;
  margin-bottom: 30px;
}

.content-heading {
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-bottom: solid #cccccc 2px;
}

.content-col {
  text-align: left;
  line-height: 150%;
}

.photo-col {
  margin: 0 20px 20px 0;
  padding: 0;
  float: left;
}

.connect-container {
  background-color: #ffffff;
  padding: 25px;
  border: solid #cccccc 1px;
  margin-bottom: 30px;
}

.connect-heading {
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: solid #cccccc 1px;
  line-height: 100%;
}

.connect-row {
  min-width: 100%;
  padding: 0 15px 0 15px;
}

.connect-col {
  padding: 0 5px 0 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 95px;
  font-size: 12px;
  color: #d3d3d3;
  background-color: #666666;
  border-top: solid #4aaaa5 5px;
}

